<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Gasto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <style>
        .login-container {
            margin: auto;
            margin-top: 10px;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }
        .form-control {
            font-size: 14px;
            padding: 5px;
        }
    </style>
</head>


<body class="d-block justify-content-center align-items-center vh-50">
    <div th:replace="~{TelaMenu :: body}"></div>
    <div class="login-container bg-light p-4 rounded shadow text-center" style="width:60%;">
        <div th:if="${mensagemErro}" class="alert alert-error" role="alert">
            <span th:text="${mensagemErro}"></span>
        </div>

        <h2>Cadastro de Gasto</h2>
        <hr>

        <form th:action="@{/cadastroGasto/novo}" th:object="${NotaFiscal}"  method="post">

            <div class="input-group mb-1">
                <input type="text" th:field="*{valor}" class="form-control" placeholder="Valor" aria-label="Valor" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-1">
                <input type="text" th:field="*{estabelecimento}" class="form-control" placeholder="Estabelecimento" aria-label="Estabelecimento" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-1">
                <input type="datetime-local" th:field="*{data}" class="form-control" placeholder="Data" aria-label="Data" aria-describedby="basic-addon1" required>
            </div>

            <div class="input-group mb-1">
                <input type="text" th:field="*{usuario}" class="form-control" placeholder="Responsavel pelo Gasto" aria-label="Responsavel pelo Gasto" aria-describedby="basic-addon1" required>
            </div>

            <button type="submit" class="btn btn-outline-dark">Salvar Gasto</button>
        </form>
    </div>
</body>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</html>
